name: Terraform CICD
'on':
  push:
    branches:
      - main
    paths:
      - infra/**
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7
     
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: '${{ secrets.AWS_ACCESS_KEY_ID }}'
          aws-secret-access-key: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
          aws-region: eu-west-2
      
      - name: Run Checkov security Scan
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: terraform/
          framework: terraform
          output_format: cli
          soft_fail: true   
      
      - name: Terraform init
        working-directory: ./infra/ens/dev
        run: terraform init
     
      - name: Terraform plan
        working-directory: ./infra/ens/dev
        run: terraform plan
      
      - name: Terraform Apply
        working-directory: ./infra/ens/dev
        run: terraform apply -auto-approve